@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Lab7_LeChiCuong_2131200001.Models

@model List<Book>
@{

}

<div class="d-flex justify-content-center mt-5">
	<span class="mx-3 fw-bold" style="font-size: 1.25rem;">Programming Books</span>
</div>

<div class="container mt-4">
	<div class="row">
		@foreach (var book in Model)
		{
			<div class="col-md-3 col-sm-6 mb-4">
				<div class="card h-100">
					<img src="@book.Avatar" class="card-img-top p-2" alt="@book.Title">
					<div class="card-body">
						<h6 class="card-title">@book.Title</h6>
						<p class="card-text small">@book.Description</p>
					</div>
					<div class="card-footer bg-white border-0 text-center">
						<a asp-controller="Book" asp-action="Index" asp-route-bookCode="@book.BookCode" class="btn btn-success btn-sm">Xem chi tiết</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>
